.text {
  font-family: "����";
  font-size: 12px
}

.bg {
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
}

.pic {
	background-image: url(../images/01.gif);
	background-repeat: no-repeat
}

.button {
	background-image: url(../images/button.gif);
	background-repeat: no-repeat
}
